body {
    background: linear-gradient(rgba(13, 145, 105, 0.438), rgba(230, 149, 28, 0.384)) left no-repeat;
    font-size: 15px;
    color: rgb(27, 29, 29);
    text-align: center;
}

h1 {
    color: rgb(255, 252, 47);
    margin: 30px 0;
}

p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 10px 130px;
}

.MiEjemplo {
    display: flexbox;
    align-content: space-around;
}

.google {
    height: 40vh;
    width: 40vh;
}